main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 5px;
}

.board-row {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-self: center;
  align-items: center;
  border: 3px solid rgb(232, 232, 232);
  width: 60px;
  height: 60px;
}
